<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initi">
    <title>Bitácora de Mónica</title>
    <link href="IMG/logotipo%201%20color.png" rel="icon">32 32
        @import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
        body{
            background-color: burlywood;
        }
        h1{
            color: darkred;
            font-size: 90px; /*Tamaño de la letra*/
             font-family: "Dancing Script", serif;
            background-color: darkkhaki;
            text-align: center;
        }
        h6{
            color: darkolivegreen;
            text-align: center;
        }
        #imguno{
            width: 200px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        ul{
          text-align: center;  
        }
        p{
            text-align: center;
            font-family: monospace;
        }
        ol{
            text-align: center;
        }
        #imgdos{
            width: 200px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #mapa{
            width: 200px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #video{
            width: 300px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #diagrama{
            width: 400px;
            height: auto;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        #secciones{
            width: 900px;
            height: 900px;
            background-color:darkolivegreen;
        }
        .imgcapi{
            width: 200px;
            height: 250px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
  a{
            color: black;
            text-decoration: none;
        }
        .txtuno{
            color:beige;
        }
        .txtdos{
            color: rgb(236, 113, 12);
        }
        .cuadrado{
            width: 300px;
            height: 300px;
            background-color: darkgoldenrod;
            margin-left: inherit;    
            margin-right: auto;
            display: block;
            padding: 10px;
            border: 33px background: rgba(0,255,2,0.77);
background: linear-gradient(74deg,rgba(0,255,2,0.77) 0%, rgba(167,255,0,0.61) 80%);
background: -webkit-linear-gradient(74deg,rgba(0,255,2,0.77) 0%, rgba(167,255,0,0.61) 80%);
background: -moz-linear-gradient(74deg,rgba(0,255,2,0.77) 0%, rgba(167,255,0,0.61) 80%);
            box-shadow: 18px  24px 63px 18px rgba(0,0,0,0.75);
        }
        .lista{
            text-align: center;
            list-style: none;
        }
        .cuadrado2{
            width: 300px;
            height: 300px;
            background-color: darkgoldenrod;
            margin-left:auto;    
            margin-right:inherit;
            display: block;
            padding: 10px;
            border: 33px background: rgba(0,255,2,0.77);
background: linear-gradient(74deg,rgba(0,255,2,0.77) 0%, rgba(167,255,0,0.61) 80%);
background: -webkit-linear-gradient(74deg,rgba(0,255,2,0.77) 0%, rgba(167,255,0,0.61) 80%);
background: -moz-linear-gradient(74deg,rgba(0,255,2,0.77) 0%, rgba(167,255,0,0.61) 80%);
            box-shadow: 18px  24px 63px 18px rgba(0,0,0,0.75);
        }
        .logotipo{
            width: auto;
            height: auto;
            align-content: center;
        }
.anim{
    width: 200px;
    height: 200px;
    background-color: coral;
    animation: mover 2s infinite;/*nombre de la animacion, tiempo, infinito*/
}
@keyframes mover{
    0%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(50px);
    }
    100%{
        transform:  translateX(0);
    }
}
.anim{
     animation: rotar 2s infinite;/*nombre de la animacion, tiempo, infinito*/
}
@keyframes rotar{
    from{
        transform:rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.anim{
     animation: escala 2s infinite;/*nombre de la animacion, tiempo, infinito*/
}
@keyframes escala{
    0%{
        transform: scale(1);/*escala mas pequeña*/
    }
    50%{
        transform: scale(3);/*escala mas grande*/
    }
    100&{
        transform: scale(1);
    }
}
.boton{
    background-color: blueviolet;
    color: white;
    padding: 10px;
}
.caja{
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: coral;
    margin: 10px;
    align-content: center;
}
.mover{
     display: inline-block;
    width: 100px;
    height: 100px;
    background-color: coral;
    margin: 10px;
    align-content: center;
}